.main-nav{
  padding: 20px 30px;
  transition: all .5s ease-in-out;
  position: fixed;
  z-index: 9999999;
  top: 0;
  width: 100%;
  @include desktop-xl{
    padding: 20px;
  }
  @include desktop-lg{
    padding: 15px;
  }
  @include mobile {
    padding: 15px 20px;
  }
  @include desktop{
    background: $white;
    margin: 10px;
    border-radius: 5px;
    top: 0;
    width: calc(100% - 20px);
    padding: 20px 30px;
  }
  .navbar-nav{
    .nav-item{
      .nav-link{
        color: $white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
        letter-spacing: 1px;
        position: relative;
        z-index: 1;
        transition: all .5s ease-in-out;
        @include desktop-xl{
          padding-left: 10px;
          padding-right: 10px;
        }
        @include desktop-lg{
          font-size: 13px;
        }
        @include desktop{
          padding: 15px 0;
          font-size: 15px;
          color: $text-color-dark;
        }
        &::before{
          content: '';
          position: absolute;
          left: 15px;
          bottom: 15px;
          width: 30px;
          height: 3px;
          background: rgba($color: $white, $alpha: 0.3);
          z-index: -1;
          transition: transform .45s cubic-bezier(.165,.84,.44,1);
          transform: scaleX(0);
          transform-origin: right;
          @include desktop{
            content: none;
          }
        }
        &:hover{
          color: $white;
          &::before{
            transform: scaleX(1);
            transform-origin: left;
          }
        }
        &.active{
          color: $white;
          @include desktop{
            color: $text-color-dark;
            font-weight: 500;
          }
          &::before{
            transform: scaleX(1);
          }
        }
      }
    }
    @include desktop{
      text-align: center;
    }
  }
  .navbar-brand{
    img{
      width: 154px;
      @include mobile{
        width: 130px;
      }
    }
    // .logo-main{
    //   display: none;
    // }
    // .logo-white{
    //   display: block;
    // }
    // @include desktop{
    //   .logo-main{
    //     display: block;
    //   }
    //   .logo-white{
    //     display: none;
    //   }
    // }
  }
  .account-list{
    margin-left: 20px;
    display: flex;
    align-items: center;
    @include desktop-lg{
      margin-left: 10px;
    }
    @include desktop{
      margin-left: 0;
      justify-content: center;
      flex-direction: column;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    li{
      a{
        color: $secondary-color;
        background: $white;
        font-size: 16px;
        padding: 12px 30px;
        border-radius: 50px;
        @include desktop-lg{
          padding: 12px 20px;
          font-size: 13px;
        }
        @include desktop{
          font-size: 16px;
          padding: 12px 30px;
          color: $white;
          background: $secondary-color;
        }
      }
    }
  }
  .navbar-toggler{
    outline: 0;
    padding: 0;
    .icon-bar {
      height: 2px;
      width: 25px;
      transition: all 0.2s;
      background: $secondary-color;
      display: block;
      &:not(:last-child){
        margin-bottom: 5px;
      }
      &:nth-child(1){
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      &:nth-child(2){
        opacity: 0;
	      filter: alpha(opacity=0);
      }
      &:nth-child(3){
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }
    &.collapsed{
      .icon-bar{
        &:nth-child(1){
          transform: rotate(0);
        }
        &:nth-child(2){
          opacity: 1;
          filter: alpha(opacity=1);
        }
        &:nth-child(3){
          transform: rotate(0);
        }
      }
    }
  }
  &.nav-bg{
    background: $white;
    padding: 10px 20px;
    border: none;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
    top: 0;
    .navbar-brand{
      .logo-main{
        display: block;
      }
      .logo-white{
        display: none;
      }
    }
    .nav-link{
      color: $text-color-dark !important;
      &::before{
        background: darken($color: $white, $amount: 10) !important;
      }
    }
    .account-list{
      li{
        a{
          color: $white;
          background: $secondary-color;
        }
      }
    }
  }
}

// Headroomjs Styles
.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .5s ease-in-out;
  @include desktop {
    top: 0;
  }
}

.headroom--unpinned {
  top: -150px !important;
  @include desktop{
    top: 0 !important;
  }
}

.headroom--pinned {
  top: 0;
}

// .headroom--top{
//   top: 60px;
//   &.promo-close{
//     top: 0;
//   }
//   @include desktop{
//     top: 0;
//   }
// }